.containerDrop {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    position: relative;
    border : 1px solid #EBEBEB;
    padding: 2px 4px;
    border-radius: 8px;
    background-color: #FBFBFB;
    cursor: pointer;
    
}

.bodyDrop {
    position: absolute;
    background: #FFFFFF;
    box-shadow: 0 0 1px rgb(14 14 44 / 4%), 0 2px 4px rgb(96 97 112 / 16%);
    border-radius: 8px;
    display: block;
    z-index: 1;
    min-width: 127px;
    display: grid;
    gap: 12px;
    right: auto;
    bottom: auto;
    transform: translate3d(-12px, 10px, 0px);
}

.row {
    display: grid;
    grid-template-columns: 24px auto;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding: 8px;
    cursor: pointer;
}